#portfolio {
	padding: 100px 0 100px 0;
}
.image {
	background-color: #5a5a5a;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	transition: .5s;
}
.image:hover {
	opacity: 0.6;
	transition: .3s;
	/* background-image: url(../images/hoverbg.png); */
	background-repeat: no-repeat;
	background-position: center;
}

@media only screen and (max-width: 390px) {
	#projects {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		width: 100% ;
		height: 340vh;
		padding-left: 10px;
		padding-right: 15px;
	}
	.card{
		width: 302px;
	}
	}

@media only screen and (max-width: 428px) {
	#projects {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		width: 100% ;
		height: 325vh;
		padding-left: 30px;
		padding-right: 30px;
	}
	.card{
		width: 302px;
		margin-left: 10px;
	}
	}