@media only screen and (max-width: 390px) {
	#education {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		width: 85% ;
		height: 120vh;
		padding-left: 15px;
		padding-right: 15px;
	}
    #skylines{
        padding-top: 40px;
    }
	#ucb{
		height: 200px;
		width: 265px;
	}
	#yearup{
		height: 150px;
		width: 265px;
		padding-top: 10px;
	}
	#skyline{
		height: 150px;
		width: 265px;
	}
	}